title: Assignment Title
due: 2032-02-14T00:00:00
late_after: 2032-02-14T00:15:00
hidden_until: 2031-12-31T23:59:59
file_count: 3
reports: TODO
groups: TODO
guards: ./system/bin/guard_file_count.sh 1 1
guards: ./system/bin/guard_file_size.sh 1 1000000000
guards: ./system/bin/guard_file_name.sh 'perl_regex' 'File name message'
#text_file: descriptions/a1.html
tests: Always Pass -- perl -e 'print "Running test on: ", $ARGV[0]' $TIRO_SUBMISSION_DIR

This is the assignment text which may contain arbitrary <b>HTML</b>
and is put inside a &lt;div&gt;.
